/* General background image styling for the main container */
.backimg {
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 70vh;
}

/* About section styling */
.aboutimg {
  position: relative;
}

.aboutimg img {
  display: block;
  width: 100%;
  height: auto;
}

.video-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.video-icon {
  font-size: 45px;
  color: rgb(7, 7, 7);
  background-color: yellow;
  border-radius: 25px;
  padding: 10px;
  display: inline-block; /* Ensure the element can have padding and border-radius applied correctly */
  box-shadow: 0 0 10px rgba(255, 255, 59, 0.5); /* Initial glow */
  animation: glow 1.5s infinite alternate; /* Animation to pulse the glow */
}

.aboutcontent h1 {
  font-size: 48px;
  font-family: serif;
  font-weight: 900;
  margin: 0;
  margin-bottom: 30px;
}

.read:hover{
  width: 170px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,186,19,1) 0%, rgba(0,212,255,1) 0%, rgba(255,196,0,1) 0%, rgba(255,12,0,1) 100%);
  color: white;
 
}


.aboutcontent p {
  font-size: 17px;
  font-weight: 400;
  color: rgba(26, 47, 51, .7);
}

.icons {
  margin-right: 10px;
  font-size: 24px;
  color: #333;
}

/* Center container margin adjustments */
.center {
  margin: 0px 25px 0px 25px;
}

/* Read More button styling */
.read {
  background-color: orange;
  height: 60px;
  width: 130px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-top: 20px;
  text-transform: uppercase;
}


/* Dotted underline styling */
.underline {
  border: none;
  border-top: 5px dotted #7c7c7c;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Recipe card styling */
.receipe-card {
  margin: 20px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

/* Feature content section styling */
.feature-content {
  text-align: center;
  font-size: 20px;
}

/* Feature icon image styling */
.feature-icon {
  height: 80px;
}

/* Working hours background image styling */
.time-img {
  background-image: url('../assets/time.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  border-radius: 5px;
  color: white;
}

.contact-us{
  font-size: 20px;
  color:black;
  cursor: pointer;
}

/* Reservation button styling */
.reserve-btn {
  background-color: yellow;
  height: 60px;
  width: 150px;
  border: none;
  border-radius: 5px;
}

/* Teams card container styling */
/* Social media icons styling */
.icons {
  font-size: 30px;
  margin-left: 10px;
}

.team-img {
  height: 600px;
  border-radius: 5px;

}

.social-icons{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.team-card{
 border: 1px solid rgb(128, 128, 128);
 border-radius: 5px;
 height: 800px;
}


/* Card underline styling */
.card-underline {
  border: none;
  border-top: 5px dotted #383838;
  margin-top: 20px;
  margin-bottom: 10px;
}



/* Separator line styling */
.separateline {
  border: none;
  border-top: 5px dotted #383838;
  margin-top: 50px;
  margin-bottom: 30px;
}



/* Card header styling */
.card h1 {
  font-family: sans-serif;
}

/* Main content background styling */
.contentback {
  border-radius: 5px;
}

/* Responsive adjustments for smaller screens */
@media (min-width:1px) and (max-width:1024px) {
  .center {
    margin: 0 15px;
  }

  .icons {
     margin:5px
  }
  .team-img {
    height: 500px;
    border-radius: 5px;

  }
  .featurecard h2{
   font-size: 25px;
  }

  .team-card{
    height: 680px;
    margin-bottom: 30px;
  }
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5), 0 0 20px rgba(255, 255, 0, 0.5);
  }
  to {
    box-shadow: 0 0 20px rgba(255, 255, 0, 1), 0 0 30px rgba(255, 255, 0, 1);
  }
}